<%- include("partials/nav.ejs") %>
<h2><%=username%>'s dashboard</h2>
<h3>Personal information</h3>
<b>UserID: </b> <%=userid%><br>
<b>Username: </b> <%=username%><br>
<b>Email: </b> <%=useremail%><br>
<b>remaining vacations (in days): </b> <%=remaining_vacation%><br>
