<h3><%=_username%>'s Profile</h3>
<b> [<span style="color:blue"><%=remaining_vacation%></span> / <%= yearly_vacation_days %>] </b> vacation days remaining
<br><br>

<h4><%=_username%>'s information</h4>
<b>UserID: </b> <%=_userid%><br>
<b>Username: </b> <%=_username%><br>
<b>Email: </b> <%=_useremail%><br>
